<div class="modal-dialog">
    <div class="modal-content">
        {{ form_start(form) }}
        <div class="modal-header modal-colored-header bg-primary text-white" >
            <h4 class="modal-title" id="primary-header-modalLabel" > Formulaire</h4>
            <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
            ></button>
        </div>
        <div class="modal-body">
            <div class="row form-group">
                <div class="col-12 mt-3">{{ form_row(form.nom) }}</div>
                <div class="col-12 mt-3">{{ form_row(form.lieu) }}</div>
                <div class="col-12 mt-3">{{ form_row(form.montant) }}</div>
                <div class="col-12 mt-3">{{ form_row(form.debutAt) }}</div>
                <div class="col-12 mt-3">{{ form_row(form.finAt) }}</div>
                <div class="col-12 mt-3">{{ form_row(form.dateLineAt) }}</div>
            </div>
            {{ form_widget(form) }}
        </div>
        <div class="modal-footer">
            <a href="{{ path('app_backend_formation_index') }}" class="btn btn-light">
                Annuler
            </a>
            <button type="submit" class="btn btn-light-primary text-primary font-medium" id="saveButton" >
                {{ button_label|default('Enregistrer') }}
            </button>

            {{ form_end(form) }}
            {% if suppression == true %}
                {{ include('backend_formation/_delete_form.html.twig') }}
            {% endif %}

        </div>
    </div>
</div>


