{% extends 'base.html.twig' %}

{% block title %}Inscription camp de formation niveau II et Supérieur {% endblock %}

{% block body %}
    <div class="overflow-hidden">
        <div class="logo">
            <div class="logo-icon" data-aos="fade-right" data-aos-easing="ease-in-sine" data-aos-duration="2000">
                <img src="{{ absolute_url(asset('frontend/img/logo-cvav.png')) }}" alt="" class="img-fluid activite">
            </div>
            <div class="logo-text" data-aos="fade-left" data-aos-easing="ease-in-sine" data-aos-duration="2000">
                <h2 class="titre-activite">
                    M'bonoua 2024
                </h2>
                <h3>Inscription camp de formation niveau II et Supérieur</h3>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="formulaire" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="2000">
            <div class="text-center mt-5 mb-5" data-aos="zoom-out" data-aos-duration="3000" data-aos-easing="ease-in-back">
                <h2 class="titre">Informations campeurs</h2>
            </div>
            {{ form_start(form) }}
            <div class="form-group row">
                <div class="col-12 col-lg-6 mt-3">{{ form_row(form.nom) }}</div>
                <div class="col-12 col-lg-6 mt-3">{{ form_row(form.prenoms) }}</div>
                <div class="col-12 col-lg-3 mt-3">{{ form_row(form.sexe) }}</div>
                <div class="col-12 col-lg-3 mt-3">{{ form_row(form.dateNaissance) }}</div>
                <div class="col-12 col-lg-6  mt-3">{{ form_row(form.lieuNaissance) }}</div>
                <div class="col-12 col-lg-6 mt-3">{{ form_row(form.telephone) }}</div>
                <div class="col-12 col-lg-3 mt-3">{{ form_row(form.bapteme) }}</div>
                <div class="col-12 col-lg-3 mt-3">{{ form_row(form.confirmation) }}</div>
                <div class="col-12 col-lg-6 mt-3">{{ form_row(form.niveau) }}</div>
                <div class="col-12 col-lg-3 mt-3">{{ form_row(form.evaluation) }}</div>
                <div class="col-12 col-lg-3 mt-3">{{ form_row(form.medical) }}</div>
                <div class="col-12 mt-3">{{ form_row(form.traitement) }}</div>
                <div class="col-12 col-lg-6 mt-3">{{ form_row(form.urgence) }}</div>
                <div class="col-12 col-lg-6 mt-3">{{ form_row(form.contactUrgence) }}</div>
                {{ form_widget(form) }}
                <div class="col-6 mt-5 mb-3 d-grid gap-2">
                    <a href="{{ path('app_frontend_notice_index') }}" class="btn btn-outline-secondary btn-lg">Annuler</a>
                </div>
                <div class="col-6 mt-5 mb-3 d-grid gap-2">
                    <button type="submit" class="btn btn-primary btn-lg">Suivant</button>
                </div>
            </div>
            {{ form_end(form) }}
            <form>
            </form>
        </div>
    </div>
    <div id="loader-overlay" style="display: none">
        <div class="loader"></div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const baptemeField = document.getElementById('information_bapteme');
            const confirmationField = document.getElementById('information_confirmation');
            const medicalField = document.getElementById('information_medical');
            const traitementField = document.getElementById('information_traitement');

            // Fonction pour gérer l'activation de confirmation
            function toggleConfirmation() {
                confirmationField.disabled = baptemeField.value !== '1';
            }

            // Fonction pour gérer l'activation de traitement
            function toggleTraitement() {
                traitementField.disabled = medicalField.value !== '1';
            }

            // Appels au chargement initial
            toggleConfirmation();
            toggleTraitement();

            // Écouteurs d'événements pour chaque champ
            baptemeField.addEventListener('change', toggleConfirmation);
            medicalField.addEventListener('change', toggleTraitement);
        });
    </script>
{% endblock %}
