{% extends 'base.html.twig' %}

{% block title %}Section de base {% endblock %}

{% block body %}
    <div class="overflow-hidden">
        <div class="logo">
            <div class="logo-icon" data-aos="fade-right" data-aos-easing="ease-in-sine" data-aos-duration="2000">
                <img src="{{ absolute_url(asset('frontend/img/logo-cvav.png')) }}" alt="" class="img-fluid activite">
            </div>
            <div class="logo-text" data-aos="fade-left" data-aos-easing="ease-in-sine" data-aos-duration="2000">
                <h2 class="titre-activite">
                    M'bonoua 2024
                </h2>
                <h3>Inscription camp de formation niveau II et Supérieur</h3>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="formulaire" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="2000">
            <div class="text-center mt-5 mb-5" data-aos="zoom-out" data-aos-duration="3000" data-aos-easing="ease-in-back">
                <h2 class="titre">Section de base</h2>
            </div>
            <form>
                <div class="row form-group">
                    <div class="col-12 col-md-6 col-lg-4 mt-4">
                        <label for="selectVicariat">Vicariat</label>
                        <select name="selectVicariat" id="selectVicariat" class="form-select form-select-lg" data-placeholder="Selectionnez votre vicariat" required>
                            <option value=""></option>
                            {% for vicariat in vicariats %}
                                <option value="{{ vicariat.id }}">{{ vicariat.nom }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 mt-4">
                        <label for="selectDoyenne">Doyenne</label>
                        <select name="selectDoyenne" id="selectDoyenne" class="form-select form-select-lg" required>
                        </select>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 mt-4">
                        <label for="selectSection">Section de base</label>
                        <select name="selectSection" id="selectSection" class="form-select form-select-lg" required>
                        </select>
                    </div>
                    <div class="col-12 col-md-6 mt-4">
                        <label for="selectSection">Nom et prenoms du responsable de section</label>
                        <input type="text" class="form-control form-control-lg" name="_responsable" id="inputResponsable" autocomplete="off" required>
                    </div>
                    <div class="col-12 col-md-6 mt-4">
                        <label for="selectSection">Contact de votre responsable de section</label>
                        <input type="tel" class="form-control form-control-lg" name="_contact" id="inputContact" autocomplete="off" required>
                    </div>
                    <div class="col-6 mt-5 mb-3 d-grid gap-2">
                        <a href="{{ path('app_frontend_inscription_justificatif') }}" class="btn btn-outline-secondary btn-lg">Annuler</a>
                    </div>
                    <div class="col-6 mt-5 mb-3 d-grid gap-2">
                        <button type="submit" class="btn btn-primary btn-lg">Suivant</button>
                    </div>
                </div>
                
            </form>
        </div>
    </div>
    <div id="loader-overlay" style="display: none">
        <div class="loader"></div>
    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" />
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.6.8/dist/axios.min.js"></script>

    <script>
        $(document).ready(function() {
            $('#selectVicariat').on('change', function(){
                let vicariatId = $(this).val();
                console.log(vicariatId);
                $.getJSON("{{ absolute_url(path('app_api_doyenne_list')) }}", {'vicariat_id': vicariatId})
                    .done(response => {
                        console.log(response)
                        $('#selectDoyenne').empty()
                            .append("<option value=''>-</option>");

                        $('#selectSection').empty()
                            .append("<option value=''>-</option>");

                        // Ajouter les nouvelles options à partir de la réponse de la requête
                        $.each(response, function(index, doyenne) {
                            $('#selectDoyenne').append($('<option>', {
                                value: doyenne.id,
                                text: doyenne.nom
                            }));
                        });
                    })
                    .fail((xhr, status, error)=>{
                        console.log(`Une erreur s'est produite lors de la récupération de la liste des doyennes: ${error}`)
                    })
            });

            $('#selectDoyenne').on('change', function(){
                let doyenneId = $(this).val();
                console.log(doyenneId);
                $.getJSON("{{ absolute_url(path('app_api_section_list')) }}", {'doyenne_id': doyenneId})
                    .done(response => {
                        console.log(response)
                        $('#selectSection').empty()
                            .append("<option value=''>-</option>");

                        // Ajouter les nouvelles options à partir de la réponse de la requête
                        $.each(response, function(index, section) {
                            $('#selectSection').append($('<option>', {
                                value: section.id,
                                text: section.paroisse
                            }));
                        });
                    })
                    .fail((xhr, status, error)=>{
                        console.log(`Une erreur s'est produite lors de la récupération de la liste des sections de base: ${error}`)
                    })
            });

            // Soumission du formulaire
            $('form').submit(function(event) {
                // Empêchez le comportement par défaut du formulaire
                event.preventDefault();

                // Récupérez les données du formulaire
                var formData = {
                    selectVicariat: $('#selectVicariat').val(),
                    selectDoyenne: $('#selectDoyenne').val(),
                    selectSection: $('#selectSection').val(),
                    inputResponsable: $('#inputResponsable').val(),
                    inputContact: $('#inputContact').val()
                };

                console.log(JSON.stringify(formData))

                // Envoyez les données au serveur via une requête AJAX
                $.ajax({
                    method: 'POST',
                    url: '{{ absolute_url(path('app_api_paiement_save'))}}',
                    data: JSON.stringify(formData),
                    success: function(response) {
                        console.log(response)

                        const checkout_params = {
                            amount: "" + response.montant + "",
                            currency: "XOF",
                            error_url: "{{ absolute_url(path('app_home')) }}echec/" + response.matricule + "",
                            success_url: "https://formation.cvav-diocesedabidjan.org/recu/" + response.matricule + "",
                        };

                        console.log(checkout_params)

                        axios.post(
                            "{{ absolute_url(path('app_api_wave_checkout')) }}", checkout_params
                        )
                            .then((response) => {
                                console.log(response)
                                var content = JSON.parse(response.data.content);
                                // You can now use the response to redirect the user to the Wave app
                                // const wave_launch_url = response.data.wave_launch_url;
                                // window.location.href = wave_launch_url;
                                console.log(response.data.statusCode)
                                console.log(response.data.content)
                                console.log(content.wave_launch_url)
                                window.location.href = content.wave_launch_url
                            })
                            .catch((error) => {
                                resetLoadingState()
                                console.error(error);
                            });



                        /*Swal.fire({
                            icon: 'success',
                            title: 'Bravo! étape 1/3 validée! 🤗',
                            text: "Nous savons désormais d'où tu viens. Dis-nous maintenant qui tu es! 👧👨",
                            confirmButtonText: 'OK'
                        }).then((result) => {*/
                            /* Read more about isConfirmed, isDenied below */
                            //if (result.isConfirmed) {
                             //   window.location = "{{ absolute_url(path('app_frontend_inscription_identite')) }}"
                            //}
                        // });

                    },
                    error: function(xhr, status, error) {
                        // Gérez les erreurs ici (par exemple, affichez un message d'erreur)
                        Swal.fire({
                            icon: 'error',
                            title: 'Erreur!',
                            text: 'Une erreur s\'est produite lors de l\'inscription. Veuillez réessayer plus tard.'
                        });
                    }
                });
            });
        });

        $( '#vicariat' ).select2( {
            theme: "bootstrap-5",
            width: $( this ).data( 'width' ) ? $( this ).data( 'width' ) : $( this ).hasClass( 'w-100' ) ? '100%' : 'style',
            placeholder: $( this ).data( 'placeholder' ),
        } );

    </script>
{% endblock %}
